# Streamlit for the web interface
streamlit==1.38.0

# PyTorch with CUDA 12.1 support
torch==2.4.0

# Hugging Face Transformers for models like BERT, GPT, etc.
transformers==4.45.1

# OpenAI API client for interacting with OpenAI models
openai==1.35.14

# Audio recorder component for Streamlit
audio-recorder-streamlit==0.0.10

# TTS (Text-to-Speech) library by Coqui for voice synthesis
TTS @ git+https://github.com/coqui-ai/TTS@dbf1a08a0d4e47fdad6172e433eeb34bc6b13b4e


