# Streamlit for the web interface
streamlit==1.38.0

# PyTorch with CUDA 12.1 support
torch==2.4.0

# Hugging Face Transformers for models like BERT, GPT, etc.
transformers==4.45.1

# OpenAI API client for interacting with OpenAI models
openai==1.35.14

# Audio recorder component for Streamlit
audio-recorder-streamlit==0.0.10

# TTS (Text-to-Speech) library by Coqui for voice synthesis
TTS==0.6.8


